<div class="top-bar">
    <div class="container-fluid">
        <div class="row d-flex align-items-center">
            <div class="col-sm-7 d-none d-sm-block">
                <ul class="list-inline topbar-text mb-0">
                    <li class="list-inline-item pe-3 me-0">
                        <svg class="svg-icon me-2">
                            <use xlink:href="#calls-1"></use>
                        </svg>020-800-456-747
                    </li>
                    <li class="list-inline-item px-3 border-start d-none d-lg-inline-block">
                        Free shipping on orders over $300
                    </li>
                </ul>
            </div>
            <div class="col-sm-5 d-flex justify-content-end">
                <!-- Language Dropdown-->
                <div class="dropdown border-end px-3">
                    <a class="dropdown-toggle topbar-link" id="langsDropdown" href="#" data-bs-toggle="dropdown"
                        data-bs-display="static" aria-haspopup="true" aria-expanded="false"><img class="topbar-flag"
                            src="https://demo.bootstrapious.com/sell/2-0-1/img/flag/gb.svg" alt="english" />English</a>
                    <div class="dropdown-menu dropdown-menu-end dropdown-menu-animated" aria-labelledby="langsDropdown">
                        <a class="dropdown-item text-sm" href="#"><img class="topbar-flag"
                                src="https://demo.bootstrapious.com/sell/2-0-1/img/flag/de.svg"
                                alt="german" />German</a><a class="dropdown-item text-sm" href="#">
                            <img class="topbar-flag" src="https://demo.bootstrapious.com/sell/2-0-1/img/flag/fr.svg"
                                alt="french" />French</a>
                    </div>
                </div>
                <!-- Currency Dropdown-->
                <div class="dropdown ps-3 ms-0">
                    <a class="dropdown-toggle topbar-link" id="currencyDropdown" href="#" data-bs-toggle="dropdown"
                        data-bs-display="static" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-dollar-sign text-xs align-middle mt-n1 me-2"> </i>USD</a>
                    <div class="dropdown-menu dropdown-menu-end dropdown-menu-animated"
                        aria-labelledby="currencyDropdown">
                        <a class="dropdown-item text-sm" href="#">
                            <i class="fas fa-euro-sign text-xs align-middle mt-n1 me-2"> </i>EUR</a><a
                            class="dropdown-item text-sm" href="#"><i
                                class="fas fa-pound-sign text-xs align-middle mt-n1 me-2">
                            </i>GBP</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>