

<div class="container">
    <div class="row text-center">
        <div class="col card mx-2">
            <div class="card-body">
                <p class="h2 card-title">User Count</p>
                <p class="h3 card-content">
                </p>
            </div>
        </div>
        <div class="col card mx-2">
            <div class="card-body">
                <p class="h2 card-title">User Count</p>
                <p class="h3 card-content">0</p>
            </div>
        </div>
        <div class="col card mx-2">
            <div class="card-body">
                <p class="h2 card-title">User Count</p>
                <p class="h3 card-content">0</p>
            </div>
        </div>
        <div class="col card mx-2">
            <div class="card-body">
                <p class="h2 card-title">User Count</p>
                <p class="h3 card-content">0</p>
            </div>
        </div>
    </div>
</div>