<style>
    :root {
        --error-color: #dc3545;
        --success-color: #28a745;
        --warning-color: #ffc107;
    }

    .form-group input:focus {
        outline: none;
    }

    .form-group.error input {
        border-color: var(--error-color);
    }

    .form-group.success input {
        border-color: var(--success-color);
    }


    .form-group small {
        color: var(--error-color);
    }
</style>

<!--================Login Box Area =================-->
<section class="login_box_area section-margin my-5">
    <div class="container">
        <div class="row">
            <div class="row">
                <% if (error && error.length > 0) { %>
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <% error.forEach(element => { %>
                        <span><%- element %></span>
                    <% }) %>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                <% } %>
                <% if (success && success.length > 0) { %>
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <% success.forEach(element => { %>
                        <span><%- element %></span>
                    <% }) %>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                <% } %>
            </div>
            <div class="col-lg-6">
                <div class="login_box_img">
                    <div class="hover">
                        <h4>New to our website?</h4>
                        <p>There are advances being made in science and technology everyday, and a good example of
                            this is the</p>
                        <a class="btn btn-outline-light" href="/admin/register">Create an Account</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="login_form_inner bg-body-secondary">
                    <h3>Log in to enter</h3>
                    <form class="row login_form" action="/admin/login" method="POST" id="login-form">
                        <div class="col-md-12 form-group">
                            <input type="email" class="form-control" id="email" name="email" placeholder="Email"
                                onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email'">
                            <small></small>
                        </div>
                        <div class="col-md-12 form-group">
                            <input type="password" class="form-control" id="password" name="password"
                                placeholder="Password" onfocus="this.placeholder = ''"
                                onblur="this.placeholder = 'Password'">
                            <small></small>
                        </div>
                        <!-- <div class="col-md-12 form-group">
                            <div class="creat_account">
                                <input type="checkbox" id="f-option2" name="selector">
                                <label for="f-option2">Keep me logged in</label>
                            </div>
                        </div> -->
                        <div class="col-md-12 form-group">
                            <button type="submit" value="submit" class="btn btn-outline-primary w-100">Log In</button>
                            <a class="text-primary" href="#">Forgot Password?</a>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</section>
<!--================End Login Box Area =================-->

<script src="/javascripts/loginValidation.js"></script>