<section>
    <div class="container">
        <!-- Breadcrumbs -->
        <ol class="breadcrumb justify-content-center">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item"><a href="index.html">Account</a></li>
            <li class="breadcrumb-item active">Address</li>
        </ol>
        <!-- Hero Content-->
        <div class="hero-content pb-5 text-center">
            <h1 class="hero-heading">Your Addressess</h1>
        </div>
    </div>
</section>

<div class="container mb-5">
    <div class="row">
        <%- include('../partials/user/sidebar.ejs') %>
            <!-- Content  -->
            <section class="col-lg-8">
                <!-- Toolbar-->
                <div class="d-none d-lg-flex justify-content-between align-items-center pt-lg-3 pb-4 pb-lg-5 mb-lg-3">
                    <h6 class="fs-base  mb-0">List of your registered addresses:</h6>
                </div>
                <!-- Add New Address-->
                <form class="needs-validation modal fade" method="post" id="add-address" tabindex="-1" novalidate>
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Add a new address</h5>
                                <button class="btn-close" type="button" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="row gx-4 gy-3">
                                    <div class="col-sm-6">
                                        <label class="form-label" for="address-fn">First name</label>
                                        <input class="form-control" type="text" id="address-fn" required>
                                        <div class="invalid-feedback">Please fill in you first name!</div>
                                    </div>
                                    <div class="col-sm-6">
                                        <label class="form-label" for="address-ln">Last name</label>
                                        <input class="form-control" type="text" id="address-ln" required>
                                        <div class="invalid-feedback">Please fill in you last name!</div>
                                    </div>
                                    <div class="col-sm-6">
                                        <label class="form-label" for="address-company">Company</label>
                                        <input class="form-control" type="text" id="address-company">
                                    </div>
                                    <div class="col-sm-6">
                                        <label class="form-label" for="address-country">Country</label>
                                        <select class="form-select" id="address-country" required>
                                            <option value>Select country</option>
                                            <option value="Argentina">Argentina</option>
                                            <option value="Belgium">Belgium</option>
                                            <option value="France">France</option>
                                            <option value="Germany">Germany</option>
                                            <option value="Spain">Spain</option>
                                            <option value="UK">United Kingdom</option>
                                            <option value="USA">USA</option>
                                        </select>
                                        <div class="invalid-feedback">Please select your country!</div>
                                    </div>
                                    <div class="col-sm-6">
                                        <label class="form-label" for="address-city">City</label>
                                        <input class="form-control" type="text" id="address-city" required>
                                        <div class="invalid-feedback">Please fill in your city!</div>
                                    </div>
                                    <div class="col-sm-6">
                                        <label class="form-label" for="address-line1">Line 1</label>
                                        <input class="form-control" type="text" id="address-line1" required>
                                        <div class="invalid-feedback">Please fill in your address!</div>
                                    </div>
                                    <div class="col-sm-6">
                                        <label class="form-label" for="address-line2">Line 2</label>
                                        <input class="form-control" type="text" id="address-line2">
                                    </div>
                                    <div class="col-sm-6">
                                        <label class="form-label" for="address-zip">ZIP code</label>
                                        <input class="form-control" type="text" id="address-zip" required>
                                        <div class="invalid-feedback">Please add your ZIP code!</div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="address-primary">
                                            <label class="form-check-label" for="address-primary">Make this address
                                                primary</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Close</button>
                                <button class="btn btn-outline-success btn-shadow" type="submit">Add address</button>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- Addresses list-->
                <div class="table table-responsive table-striped fs-md">
                    <table class="table table-hover mb-0">
                        <thead>
                            <tr>
                                <th>Address</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="py-3 align-middle">396 Lillian Blvd, Holbrook, NY 11741, USA<span
                                        class="align-middle badge bg-info ms-2">Primary</span></td>
                                <td class="py-3 align-middle"><a class="nav-link-style me-2" href="#"
                                        data-bs-toggle="tooltip" title="Edit"><i class="ci-edit"></i></a><a
                                        class="nav-link-style text-danger" href="#" data-bs-toggle="tooltip"
                                        title="Remove">
                                        <div class="bi bi-trash"></div>
                                    </a></td>
                            </tr>
                            <tr>
                                <td class="py-3 align-middle">769, Industrial, West Chicago, IL 60185, USA</td>
                                <td class="py-3 align-middle"><a class="nav-link-style me-2" href="#"
                                        data-bs-toggle="tooltip" title="Edit"><i class="ci-edit"></i></a><a
                                        class="nav-link-style text-danger" href="#" data-bs-toggle="tooltip"
                                        title="Remove">
                                        <div class="bi bi-trash"></div>
                                    </a></td>
                            </tr>
                            <tr>
                                <td class="py-3 align-middle">514 S. Magnolia St. Orlando, FL 32806, USA</td>
                                <td class="py-3 align-middle"><a class="nav-link-style me-2" href="#"
                                        data-bs-toggle="tooltip" title="Edit"><i class="ci-edit"></i></a><a
                                        class="nav-link-style text-danger" href="#" data-bs-toggle="tooltip"
                                        title="Remove">
                                        <div class="bi bi-trash"></div>
                                    </a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="text-sm-start pt-4"><a class="btn btn-outline-success" href="#add-address"
                        data-bs-toggle="modal">Add new
                        address</a></div>
            </section>      
    </div>
</div>