<style>
  .password-toggle .form-control {
    padding-right: 3rem;
  }
</style>

<section>
  <div class="container">
    <!-- Breadcrumbs -->
    <ol class="breadcrumb justify-content-center">
      <li class="breadcrumb-item"><a href="index.html">Home</a></li>
      <li class="breadcrumb-item"><a href="index.html">Account</a></li>
      <li class="breadcrumb-item active">Profile</li>
    </ol>
    <!-- Hero Content-->
    <div class="hero-content pb-5 text-center">
      <h1 class="hero-heading">Your Profile</h1>
    </div>
  </div>
</section>

<div class="container mb-5">
  <div class="row">
    <%- include('../partials/user/sidebar.ejs') %>
      <div class="col-lg-8">
        <!-- Profile form-->
        <form>
          <div class="bg-secondary rounded-3 p-4 mb-4">
            <div class="d-flex align-items-center"><img class="rounded" src="img/shop/account/avatar.jpg" width="90"
                alt="Susan Gardner">
              <div class="ps-3">
                <button class="btn btn-light btn-shadow btn-sm mb-2" type="button"><i class="ci-loading me-2"></i>Change
                  avatar</button>
                <div class="p mb-0 fs-ms text-muted">Upload JPG, GIF or PNG image. 300 x 300 required.</div>
              </div>
            </div>
          </div>
          <div class="row gx-4 gy-3">
            <div class="col-sm-6">
              <label class="form-label" for="account-fn">First Name</label>
              <input class="form-control" type="text" id="account-fn" value="<%- user.firstName %>">
            </div>
            <div class="col-sm-6">
              <label class="form-label" for="account-ln">Last Name</label>
              <input class="form-control" type="text" id="account-ln" value="<%- user.lastName %>">
            </div>
            <div class="col-sm-6">
              <label class="form-label" for="account-email">Email Address</label>
              <input class="form-control" type="email" id="account-email" value="<%- user.email %>" disabled>
            </div>
            <div class="col-sm-6">
              <label class="form-label" for="account-phone">Phone Number</label>
              <input class="form-control" type="text" id="account-phone" value="+7 (805) 348 95 72" required>
            </div>
            <!-- <div class="col-sm-6">
                    <label class="form-label" for="account-pass">New Password</label>
                    <div class="password-toggle">
                      <input class="form-control" type="password" id="account-pass">
                      <label class="password-toggle-btn" aria-label="Show/hide password">
                        <input class="password-toggle-check" type="checkbox"><span class="password-toggle-indicator"></span>
                      </label>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <label class="form-label" for="account-confirm-pass">Confirm Password</label>
                    <div class="password-toggle">
                      <input class="form-control" type="password" id="account-confirm-pass">
                      <label class="password-toggle-btn" aria-label="Show/hide password">
                        <input class="password-toggle-check" type="checkbox"><span class="password-toggle-indicator"></span>
                      </label>
                    </div>
                  </div> -->
            <div class="col-12">
              <hr class="mt-2 mb-3">
              <div class="d-flex flex-wrap justify-content-between align-items-center">
                <button class="btn btn-outline-primary m-3 mt-sm-0" type="button">Update profile</button>
                <!-- <button class="btn btn-outline-warning m-3 mt-sm-0" type="button">Change Password</button> -->
              </div>
            </div>
          </div>
        </form>
        <!-- Change Password Form -->
        <form>
          <hr class="my-4">
          <div class="bg-secondary rounded-3 p-4 mb-4">
            <h4>Change Password</h4>
          </div>
          <div class="col-sm-6">
            <label class="form-label" for="account-pass">Old Password</label>
            <div class="password-toggle">
              <input class="form-control" type="password" id="account-pass">
              <label class="password-toggle-btn" aria-label="Show/hide password">
                <input class="password-toggle-check" type="checkbox"><span class="password-toggle-indicator"></span>
              </label>
            </div>
          </div>
          <div class="col-sm-6">
            <label class="form-label" for="account-pass">New Password</label>
            <div class="password-toggle">
              <input class="form-control" type="password" id="account-pass">
              <label class="password-toggle-btn" aria-label="Show/hide password">
                <input class="password-toggle-check" type="checkbox"><span class="password-toggle-indicator"></span>
              </label>
            </div>
          </div>
          <div class="col-sm-6">
            <label class="form-label" for="account-confirm-pass">Confirm Password</label>
            <div class="password-toggle">
              <input class="form-control" type="password" id="account-confirm-pass">
              <label class="password-toggle-btn" aria-label="Show/hide password">
                <input class="password-toggle-check" type="checkbox"><span class="password-toggle-indicator"></span>
              </label>
            </div>
          </div>
          <div class="col-12">
            <hr class="mt-2 mb-3">
            <div class="d-flex flex-wrap justify-content-between align-items-center">
              <!-- <button class="btn btn-outline-primary m-3 mt-sm-0" type="button">Update profile</button> -->
              <button class="btn btn-outline-warning m-3 mt-sm-0" type="button">Change Password</button>
            </div>
          </div>

      </form>          
      </div>
  </div>

</div>
</div>