<!--================Login Box Area =================-->
<section class="login_box_area section-margin my-5">
    <div class="container">
        <% if (success.length > 0) { %>
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong><%- success %>!</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
        <% } %>
        <% if (error.length > 0) { %>
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong><%- error %></strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
        <% } %>
        <div class="row">
            <div class="col-lg-6">
                <div class="login_box_img" >
                    <div class="hover">
                        <h4>Forgot Password?</h4>
                        <p>Enter the email address associated with your account to receive instructions for resetting your password.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="login_form_inner bg-body-secondary">
                    <h3 class="mt-5">Enter your E-Mail</h3>
                    <form class="row login_form" action="/forgot-password" method="POST" id="forgot-pass-form">
                        <div class="col-md-12 form-group">
                            <input type="text" class="form-control" id="email" name="email" placeholder="Email"
                                onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email'">
                            <small></small>
                        </div>

                        <div class="col-md-12 form-group">
                            <button type="submit" value="submit" class="btn btn-primary w-100">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Login Box Area =================-->


<script src="/javascripts/forgotPassValidation.js"></script>