<!--================Login Box Area =================-->
<section class="login_box_area section-margin my-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="login_box_img">
                    <div class="hover">
                        <h4>Forgot Password?</h4>
                        <p>Enter your user account's verified email address.</p>
                        <!-- <a class="button button-account" href="register.html">Create an Account</a> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="login_form_inner bg-body-secondary">
                    <h3>Enter your E-Mail</h3>
                    <form class="row login_form" action="/forgot-password" id="contactForm">
                        <div class="col-md-12 form-group">
                            <input type="text" class="form-control" id="name" name="email" placeholder="Email"
                                onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email'">
                        </div>

                        <div class="col-md-12 form-group">
                            <button type="submit" value="submit" class="btn btn-primary w-100">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Login Box Area =================-->