<!--================Login Box Area =================-->
<section class="login_box_area section-margin my-5">
    <div class="container">
        <% if (success.length > 0) { %>
        <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <img src="..." class="rounded me-2" alt="...">
                <strong class="me-auto">Bootstrap</strong>
                <small>11 mins ago</small>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
                <%- success %>.
            </div>
        </div>
        <% } %>
        <% if (error.length > 0) { %>
        <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <img src="..." class="rounded me-2" alt="...">
                <strong class="me-auto">Bootstrap</strong>
                <small>11 mins ago</small>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
                <%- error %>.
            </div>
        </div>
        <% } %>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="login_box_img">
                    <div class="hover">
                        <h4>New to our website?</h4>
                        <p>There are advances being made in science and technology everyday, and a good example of
                            this is the</p>
                        <a class="btn btn-outline-light" href="/register">Create an Account</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="login_form_inner bg-body-secondary">
                    <h3>Log in to enter</h3>
                    <form class="row login_form" action="/login" method="POST" id="login-form">
                        <div class="col-md-12 form-group">
                            <input type="email" class="form-control" id="email" name="email" placeholder="Email"
                                onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email'">
                            <small class="h-3"></small>
                        </div>
                        <div class="col-md-12 form-group">
                            <div class="d-flex align-items-center">
                                <input type="password" class="form-control" id="password" name="password"
                                    placeholder="Password" onfocus="this.placeholder = ''"
                                    onblur="this.placeholder = 'Password'">
                                <i class="bi bi-eye-slash" id="togglePassword"
                                    style="position: relative;z-index: 8; left: -30px; width: 0%; cursor: pointer;"></i>
                            </div>
                            <small class="h-3"></small>
                        </div>
                        <!-- <div class="col-md-12 form-group">
                            <div class="creat_account">
                                <input type="checkbox" id="f-option2" name="selector">
                                <label for="f-option2">Keep me logged in</label>
                            </div>
                        </div> -->
                        <div class="col-md-12 form-group">
                            <button type="submit" value="submit" class="btn btn-outline-primary w-100">Log In</button>
                            <a class="text-primary" href="#">Forgot Password?</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Login Box Area =================-->

<script src="/javascripts/loginValidation.js"></script>