<!--================Login Box Area =================-->
<section class="login_box_area section-margin my-5">

    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="login_box_img">
                    <div class="hover">
                        <h4>Reset Password</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="login_form_inner bg-body-secondary">
                    <h3>Reset Password</h3>
                    <form class="row login_form" action="/reset-password" method="POST" id="reset-password-form">
                        <div class="col-md-12 form-group">
                            <div class="d-flex align-items-center">
                                <input type="password" class="form-control" id="password" name="password"
                                    placeholder="Password" onfocus="this.placeholder = ''"
                                    onblur="this.placeholder = 'Password'">
                                <i class="bi bi-eye-slash" id="togglePassword"
                                    style="position: relative;z-index: 8; left: -30px; width: 0%; cursor: pointer;"></i>
                            </div>
                            <small class="h-3"></small>
                        </div>
                        <div class="col-md-12 form-group">
                            <div class="d-flex align-items-center">
                                <input type="password" class="form-control" id="confirmPassword"
                                    name="confirmPassword" placeholder="Confirm Password"
                                    onfocus="this.placeholder = ''" onblur="this.placeholder = 'Confirm Password'">
                                <i class="bi bi-eye-slash" id="togglePasswordConfirm"
                                    style="position: relative;z-index: 8; left: -30px; width: 0%; cursor: pointer;"></i>
                            </div>
                            <small></small>
                        </div>

                        <div class="col-md-12 form-group">
                            <button type="submit" value="submit" class="btn btn-outline-primary w-100">Reset Password</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Login Box Area =================-->

<script src="/javascripts/passResetValidation.js"></script>