<nav id="sidebarMenu" class="col-sm-2 col-md-2 col-lg-2 d-md-block bg-dark sidebar collapse text-bg-dark">
    <div class="position-sticky pt-3">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link fs-5" href="/admin">
                    <!-- <span data-feather="home"></span> -->
                    <i class="bi bi-house"></i>
                    Dashboard
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link fs-5" href="/admin/banners/">
                    <i class="bi bi-card-image"></i>
                    <!-- <span data-feather="users"></span> -->
                    Banners
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link fs-5" href="/admin/users/">
                    <i class="bi bi-people"></i>
                    <!-- <span data-feather="users"></span> -->
                    Customers
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link fs-5" href="/admin/attributes/">
                    <i class="bi bi-paperclip"></i>
                    <!-- <span data-feather="attribute"></span> -->
                    Attributes
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link fs-5" href="/admin/category/">
                    <i class="bi bi-tag"></i>
                    Categories
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link fs-5" href="/admin/products/">
                    <i class="bi bi-box"></i>
                    Products
                </a>
            </li>

            
            <li class="nav-item">
                <a class="nav-link fs-5" href="/admin/orders/">
                    <i class="bi bi-table"></i>
                    <!-- <span data-feather="file"></span> -->
                    Orders
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link fs-5" href="/admin/category-offers/">
                    <i class="bi bi-cash-coin"></i>
                    <i class="bi bi-tag"></i>
                    <!-- <span data-feather="file"></span> -->
                    Category Offers
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link fs-5" href="/admin/coupons/">
                    <i class="bi bi-cash-stack"></i>
                    <!-- <span data-feather="file"></span> -->
                    Coupons
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link fs-5" href="/admin/returns/">
                    <i class="bi bi-bell"></i>
                    <!-- <span data-feather="file"></span> -->
                    Manage Returns
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link fs-5" href="/admin/sales-report">
                    <span data-feather="bar-chart-2"></span>
                    Reports
                </a>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link fs-5" href="#">
                    <span data-feather="layers"></span>
                    Integrations
                </a>
            </li> -->
        </ul>

        <!-- <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span>Saved reports</span>
            <a class="link-secondary" href="#" aria-label="Add a new report">
                <span data-feather="plus-circle"></span>
            </a>
        </h6>
        <ul class="nav flex-column mb-2">
            <li class="nav-item">
                <a class="nav-link fs-5" href="#">
                    <span data-feather="file-text"></span>
                    Current month
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link fs-5" href="#">
                    <span data-feather="file-text"></span>
                    Last quarter
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link fs-5" href="#">
                    <span data-feather="file-text"></span>
                    Social engagement
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link fs-5" href="#">
                    <span data-feather="file-text"></span>
                    Year-end sale
                </a>
            </li>
        </ul> -->
    </div>
</nav>


